{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    {% block title %}
    <header class="page-title">
        <h1>Главная страница</h1>
    </header>
    {% endblock %}
    <nav>
        <a id="home-link" class="nav-link" href={% url 'home' %}>На главную</a>
        <a class="nav-link" href={% url 'works-list' %}>Список работ</a>
        <a class="nav-link" href={% url 'works-create' %}>Создание работ</a>
    </nav>
    {% block content %}
    <article class="content">
        Вас приветствует сервис по работе с практическими работами!
    </article>
    {% endblock %}
    <footer class="page-footer">
        <p>Создано для учебных целей</p>
    <footer>
</body>
</html>